body{
    margin: 0px;
    text-align: center;
}

/* top container */

.top-container{
    background-color: cadetblue;
    padding-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 400px;  
}

h1{
    color: rgb(33, 189, 236);
    font-size: 90px;
    font-family: sans-serif;
    line-height: 2;
    margin: 0px;
    margin-top: 50px auto 0;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
}

/* Middle Container */

.middle-container{
    margin-bottom: 30px;
}


.profile img{
    width: 200px;
    border-radius: 50%;
    margin: 30px 0;
}

.intro{
    width: 25%;
    margin: 30px auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
}

.comp-img{
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-desc{
    width: 25%;
    margin: 30px auto 60px;
}

.btn{
    color: white;
    border-radius: 20px;
    background-color: blue;
    padding: 8px 8px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.btn:hover{
    transition: .5s;
    background-color: rgb(147, 197, 245);
    color: rgb(38, 14, 177);
}

/* Bottom Container */

.bottom-container{
    background-color: #66BFBF;  
    height: 200px;
}

.footer-link{
    color: #11999E;
    text-decoration: none;
    display: inline-block;
    margin: 40px auto;
    padding: 20px;
    outline: none;
}
.footer-link:hover{
    color: black;
}

.copyright{
    color: #EAF6F6;
}

/* extra and all elements */

h2{
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color: #11999E;
}

p{
    line-height: 2;
}

hr{
    border: 10px dotted black;
    border-bottom-style: none;
    width: 7%;
    margin: 50px auto;
}
